@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#titulo {
    color: #264C84;
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
}

.main-esquerda form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFCDD;
    width: fit-content;
    padding: 25px;
    border-radius: 12px;
}

label, a, h1 {
    font-family: 'GFS Neohellenic', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 25px;
}

.input-email {
    /* background-color: red; */
}

#email {
    margin-bottom: 10px;
}

#email, #senha {
    background-color: #FFEAA1;
    border: none;
    outline: none;
    padding: 15px;
    width: 75%;
    border-radius: 7px;
}

#esqueci-senha {
    font-size: 13px;
}

.input-esqueci-senha {
    position: relative;
    /* background-color: blue; */
}

.input-esqueci-senha label {
    position: absolute;
    right: 8%;
}

#entrar{
    padding: 17px;
    color: black;
    background-color: #FBBC19;
    width: 75%;
    margin: auto;
    border-radius: 7px;
}

.botao-google {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
}

.botao-google a {
    color: black;
    /* background-color: rgb(109, 235, 109); */
    padding: 0px 15px 0px 15px;
}

#google {
    height: 25px;
    position: absolute;
    left: 2.5%;
}

.main-esquerda {
    text-align: center;
    /* background-color: red; */
    width: fit-content;
    padding: 15px;
}