/* Index */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

* {
    margin: 0;
    padding: 0;
}

.mundopet {
    font-family: 'Fredoka', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #264C84;
    font-size: 70px;
}

.mundopet a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #FBBC19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* width: 97vw; */
    position: sticky;
    top: 0;
    z-index: 9;


    /* Deixa o header acima dos outros elementos */
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar a {
    padding: 40px;
    color: white;
}

.navbar ul li a {
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}

.patas {
    height: 60px;
}

.gato {
    height: 60px;
}

.carrinho {
    height: 30px;
}

.coracao {
    height: 40px;
}

.user {
    height: 40px;
}

.inicial {
    display: flex;
    line-height: 70px;
    padding-left: 7%;
}

.mundopet-2 {
    font-family: 'Fredoka', sans-serif;
    color: #264C84;
    font-size: 70px;
}

.p-1 {
    font-family: 'Fresca', sans-serif;
    display: flex;
    line-height: 30px;
    padding-left: 7%;
    font-size: 25px;
}

.p-2 {
    color: #264C84;
    font-family: 'Fresca', sans-serif;
    display: flex;
    line-height: 70px;
    padding-left: 7%;
    font-size: 25px;
}

.dog-1 {
    justify-content: center;
    display: flex;
    height: 400px;
    background-size: cover;
}

.app {
    height: 30vh;
}

.marcas-parceiras {
    display: flex;
    line-height: 70px;
    padding-left: 5%;
}

.marcas {
    font-family: 'Fredoka', sans-serif;
    color: #264C84;
    font-size: 30px;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0%);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre-nos {
    font-family: 'Fredoka', sans-serif;
    color: #264C84;
    font-size: 30px;
    display: flex;
    line-height: 70px;
    padding-left: 5%;

}

footer{
    background-color: #264C84;
    font-family: 'Fredoka', sans-serif;
    color: #FFEAA1;
    height: 250px;
}

.lado-esquerdo{
    display: flex;
    padding-left: 5%;
}

.texto-esquerdo{
    font-size: 25px;
    cursor: pointer;
}

.texto-meio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -14% ;
    font-size: 25px;
    cursor: pointer;
}

.brands .row {
    margin-left: -300px;
}

.texto-direito{
    font-size: 25px;
    cursor: pointer;
    margin-top: -13.6%;
    text-align: right;
    padding-right: 5%;
}

 /* ____________________________________________________________ */
 /* Passaro */

 .retangulo-1{
    background-color: #FCE2A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-radius: 30px;
 }

 .passaro1{
    width: 180px;
}

/*__________________________________________________________________*/
/*Cachorro*/


   
    







  


  
    

